<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- style -->
    <%- include('./layout/style.ejs') %>
</head>

<body>
    <div id="app">
        <!-- header -->
        <%- include('./layout/header.ejs') %>

        <!-- footer -->
        <%- include('./layout/footer.ejs') %>

        <!-- script src -->
        <%- include('./layout/script.ejs') %>

        <!-- script -->
    </div>
</body>

</html>